.main {
  margin: 3rem 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--purple);
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.text {
  font-size: 1.25rem;
}