.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 7rem;
}

.logo h2{
  font-family: 'Rubik', sans-serif;
}

.login{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 1rem;
  border: none;
  background-color: var(--t-purple);
  padding: 7px;
  border-radius: 20px;
  color: var(--purple);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.login:hover{
  scale: 1.1;
  background-color: var(--purple);
  color: rgb(236, 246, 255);
}