@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --icon: #A4B4CB;
  --font: #1a1335;
  --purple: #5D17EB;
  --t-purple: #5e17eb3e;
  --icon-dark: #D1D9E6; 
  --font-dark: #E6E1FF;
  --purple-dark: #4a00a4;
  --t-purple-dark: #bb86fc3e;
  --bg-dark: #0d0a1b;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ffffff;
  color: var(--font);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--font-dark); 
}