@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --icon: #A4B4CB;
  --font: #1a1335;
  --purple: #5D17EB;
  --t-purple: #5e17eb3e;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  cursor: default;
}